*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: arial, sans-serif;
    overflow-x: hidden;
    height: 200vh;
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    padding-top: 38vh;
}

/* conatiner started */
#container{
    height: 357px;
    max-height: 49vh;
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: hidden;
    background:
        radial-gradient(
            circle,
            #407adc,
            #407adc 1px,
            #4c8eff 2px,
            #4c8eff 100%
        );
    background-size: 22px 22px;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.07em;
    word-spacing: 0.2em;
    text-align: center;
    padding-top: 17vh;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.22);
}
#container::after{
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  content: '';
  width: 100%;
  background-color: rgb(244,170,70);
}

/*navigation started*/
#nav{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 340px;
    background: rgba(244,244,244,1);
    z-index: 2;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
    padding-top: 14vh;
    left: -70vw;
    transition: all 0.2s;
}
#nav a{
    display: block;
    padding: 25px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #343434;
    text-shadow: none;
}
#overlay{
    position: fixed;
    background: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 2;
    display: none;
}
#navbtn{
    position: fixed;
    z-index: 4;
    content: '';
    height: 34px;
    width: 34px;
    top: 20px;
    right: 38px;
}
#navbtn #navmain{
    position: absolute;
    content: '';
    background-color: white;
    height: 2px;
    width: 80%;
    top: 50%;
}
#navmain::after, #navmain::before{
    content: '';
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
}
#navmain::after{
    top: -10px;
}
#navmain::before{
    top: 10px;
}

/*navigatio ended main content started */
div[id^='b'], #mblog{
  height: auto;
  margin: 0 auto 5vh auto;
  width: 55vw;
  box-shadow: 2px 2px 28px 2px rgba(0,0,0,0.1);
  background-color: white;
  padding: 22px;
  position: relative;
  text-align: left;
  overflow: hidden;
}
.left, .right{
  float: left;
}
div[id^='b'] div[id^="date"], #mblog #date{
  color: gray;
  font-size: 0.7rem;
}
div[id^='b'] div[id^="tag"], #mblog #tag{
  font-size: 0.9rem;
  margin: 10px 0 14px 0;
  color: white;
}
div[id^='b'] div[id^="tag"] span, #mblog #tag span{
  background-color: rgb(140,200,140);
  padding: 4px;
  border-radius: 10%;
}
div[id^='b'] div[id^="desc"]{
  width: 34vw;
  margin-right: 5vw;
}
div[id^='b'] img{
  width: 10vw;
  max-width: 14vh;
  margin: 1vw auto 1vw auto;
}
div[id^='b'] a[id^=url]{
  padding: 7px 0 0 0;
  display: block;
}

/*moto*/
#moto{
  transition: all 0.5s;
}

/*main blog*/
#mcontent{
  letter-spacing: 0.1rem;
  word-spacing: 0.25rem;
  font-size: 1.4rem;
  color: rgb(64,64,64);
}


@media only screen and (max-width: 798px){
    body{
      padding-top: 28vh;
    }
    #container{
        font-size: 1.6rem;
        height: 38vh;
        padding: 12vh 4vw 0 4vw;
    }
    #nav{
        width: 70vw;
        left: -77vw;
    }
    #navbtn{
        right: -7px;
    }

    /*small bogs*/
    div[id^='b']{
      width: 82vw;
    }
    div[id^='b'] div[id^="desc"]{
      width: 44vw;
      font-size: 0.9rem;
    }
    div[id^='b'] img{
      width: 18vw;
      max-width: 14vh;
      margin: 20% auto 1vw auto;
    }

    /*main blog*/
    #mblog{
      width: 82vw;
      text-align: justify;
    }
    #mcontent{
      letter-spacing: 0.1rem;
      word-spacing: 0.25rem;
      font-size: 1rem;
    }
}
